# Backend
Flask

# AI & NLP
transformers
sentence-transformers

# Vector Database
faiss-cpu

# Data Handling
pandas
numpy

# Datasets
datasets

# Evaluation Frameworks
ragas
trulens

# Utilities
python-dotenv
requests
